<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Board</title>
</head>
<body>
  <h1>Message Board</h1>
  <ul>
    <% messages.forEach(function(message) { %>
      <li>
        <strong><%= message.user %></strong> said: "<%= message.text %>"
        <br>
        <small>on <%= message.added.toDateString() %></small>
        <br>
        <a href="/message/<%= message.id %>">Open</a>
      </li>
    <% }); %>
  </ul>
  <a href="/new">Add a New Message</a>
</body>
</html>
